<div class="container mt-5">
  <h1>The Foods:</h1>

  
    <%= form_with model: @food_item, class: "form-row mb-5" do |f| %>
      
      <div class="col">
        <%= f.text_field :name, class:"form-control", placeholder:"Food Name" %>
      </div>

      <div class="col">  
        <%= f.text_field :category, class:"form-control", placeholder:"Category" %>
      </div>

      <div class="col">
        <%= f.text_field :units, class:"form-control", placeholder:"Units" %>
      </div>

      <%= f.submit "Add this food!", class: "btn btn-primary" %>
    <% end %>
  

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Type</th>
        <th scope="col">Units</th>
      </tr>
    </thead>
    <tbody>
      <% @food_items.each do |food_item| %>
        
          <tr class="list-group-item-action">
            <th scope="row"> <%= food_item.name %> </th>
            <td> N/A </td>
            <td> <%= link_to "Delete", food_item_path(food_item), method: :delete, class: "btn btn-danger" %></td>
            <td> <%= food_item.category %> </td>
            <td> <%= food_item.units %> 
          </tr>

      <% end %> 
    </tbody>
  </table>
</div>